html
  head
    block head
      title Peepboard
      link(rel='stylesheet' href='/static/css')
      link(rel="import" href="/static/polymers/widget-iframe.html")
      link(rel="import" href="/static/polymers/widget-loading.html")
      link(rel="import" href="/static/polymers/dashboard-fullscreen.html")
      link(rel="import" href="/static/polymers/dashboard-flex.html")
  body
    block body
      include ./loading.jade
      block dashboards
        div(dashboards)

    block scripts
      script(src="/static/components/webcomponentsjs/webcomponents-lite.js")
      script(data-main='static/js/app' src="/static/components/requirejs/require.js")
